.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  hr {
    display: block;
    height: 1px;
    width: 150px;
    border: 0;
    background-color: $light-pink;
    margin: 1em auto;
    padding: 0;
  }
  h1 {
    margin: 0;
    line-height: 1.3;
    font-weight: $light;
    color: $light-pink;
    text-align: center;
  }
  span {
    font-weight: $bold;
  }
  @include breakpoint(md) {
    margin: 100px auto 20px auto;
    .line {
      width: 150px;
    }
    h1 {
      width: 80%;
    }
  }
  @include breakpoint(lg) {
    margin: 150px auto 20px auto;
    .line {
      width: 200px;
    }
    h1 {
      width: 60%;
      font-size: 40px;
    }
    .contact-me {
      a {
        .icon-container {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
