.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0 0 2.5em 0;
  h3 {
    margin: 0 0 1em 0;
    color: $cream;
    font-weight: $regular;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item {
      display: flex;
      flex-direction: column;
      margin: 0 0 1em 0;
      .item__heading {
        display: flex;
        p {
          margin: 0;
          color: $cream;
          text-transform: capitalize;
          white-space: pre;
        }
        a {
          width: fit-content;
          color: $cream;
          text-decoration: none;
          padding-bottom: 2px;
          border-bottom: 0.5px dotted #c2dce6;
          &:hover {
            color: $blue;
            border-bottom: 0.5px dotted $blue;
          }
        }
      }
      small {
        color: $cream;
        text-align: center;
      }
    }
  }
  @include breakpoint(md) {
  }
  @include breakpoint(lg) {
  }
}
